<div>
    <h1 >
      Stopwatch
    </h1>
    <div >
      {{ timeState.hours | number: '2.0' }} : {{ timeState.minutes | number: '2.0'  }} : {{ timeState.seconds | number: '2.0'  }}
    </div>
  
    <div >
      <button
        type="button"
        (click)="toggle()"       
      >
        {{ isRunning ? 'Stop' : 'Start'}}
      </button>
      
      <button
        type="button"
        
        (click)="wait($event)"
      >
        Wait
      </button>
      <button
        type="button"
        (click)="reset()"    
      >
        Reset
      </button>
    </div>
  </div>